@import url("bootstrapFazenda.css");


/* --------------------------------

HEADER > MENU

-------------------------------- */

.menu-sidebar .menuAberto {
    height: calc(100vh - 122px);
    position: absolute;
    overflow: auto;
    width: 100%;
}

.menu-sidebar .menu-sidebar .menu-user {
    top: 0 !important;
    padding: .455rem 1rem;
    z-index: 10;
    font-weight: 600;
    height: auto !important;
}

.menu-sidebar .menu-sidebar .menu-search {
    top: 0 !important;
    height: auto !important;
}

.menu-sidebar .p-autocomplete-panel {
    max-height: calc(100vh - 300px) !important;
    max-width: 100%;
    box-shadow: 0 1px 0 1px rgb(0 0 0 / 10%), 0 1px 0 5px rgb(0 0 0 / 3%);
}

.menu-sidebar .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item {
    white-space: initial;
}

.menu-sidebar .menuAberto .p-menu {
    padding-top: 0;
    padding-bottom: 1.5rem !important;
}

.menu-sidebar {
    background-color: #fff;
    width: 272px !important;
}

.menu-sidebar .p-sidebar-header {
    padding: 0;
    top: 10px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    right: -50px;
}

.menu-sidebar .p-sidebar-header .p-sidebar-icon {
    color: rgba(50, 125, 255, 1);
    width: 2rem;
    height: 2rem;
}

.menu-sidebar .p-sidebar-header .p-sidebar-icon:enabled:hover {
    border-color: transparent;
    color: rgba(50, 125, 255, 1);
    background-color: #fff;
}

.menu-sidebar .p-sidebar-header .p-sidebar-icon .pi {
    font-size: 1rem !important;
    line-height: normal;
}

.menu-sidebar .p-sidebar-header+.p-sidebar-content {
    padding: 0;
}

.menu-sidebar .p-sidebar-content {
    min-height: 100vh;
}

.menu-sidebar .menu-top {
    width: 100%;
}

.menu-sidebar .menu-user {
    padding: 0 1rem;
    z-index: 10;
    font-weight: 600;
}

.menu-sidebar .menu-search {
    position: relative !important;
}

.menu-sidebar .menu-user .user-loggedout {
    padding: .2rem 0;
    cursor: pointer;
}

.menu-sidebar .menu-user .user-loggedin {
    padding: .66rem 0;
    width: 155px;
}

.menu-sidebar .menu-user .user-loggedin .avatar {
    background: rgba(50, 125, 255, 1);
    color: #fff;
    width: 30px;
    height: 30px;
    padding-top: 3px;
}

.menu-sidebar .menu-user .user-loggedin .name {
    padding-top: 3px;
}

.menu-sidebar .menu-user .user-loggedout .avatar i {
    font-size: 1.85rem;
}

.menu-sidebar .menu-user .acount h3 {
    font-size: 1.1rem;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.menu-sidebar .menu-user .acount p {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: .9rem;
}

.menu-sidebar .p-menu-list {
    padding: 0 1rem !important;
}

.menu-sidebar ul .p-submenu-header {
    margin-top: .8rem;
    padding: 0;
}

.menu-sidebar ul .p-submenu-header:first-child {
    margin-top: 0;
}

.menu-sidebar .p-menu-list .p-menuitem {
    font-size: .875em;
    font-weight: 400;
}

.menu-sidebar .p-menu .p-menuitem-link {
    padding: .65rem .5rem;
    text-decoration: none;
    border-radius: .25rem;
}

.menu-sidebar .p-menu .p-menuitem-link .p-menuitem-text {
    color: rgba(0, 0, 0, 0.8);
}

.menu-sidebar .p-slidemenu {
    padding: 0 !important;
}

.menu-sidebar .p-slidemenu .p-menuitem-link {
    width: 100%;
    font-weight: 400;
    padding: .5rem 1.1rem .5rem 1rem;
    user-select: none;
    overflow: initial !important;
}

.menu-sidebar .p-slidemenu .p-menuitem-link:not(.p-disabled) .p-menuitem-text {
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.3;
}

.menu-sidebar .p-slidemenu .p-slidemenu-wrapper {
    height: calc(100vh - 122px) !important;
}

.menu-sidebar .p-slidemenu .p-slidemenu-content {
    height: 100% !important;
}

.menu-sidebar .p-sidebar-content {
    overflow-y: hidden !important;
    overflow-x: auto;
}

.menu-sidebar .p-slidemenu .p-slidemenu-wrapper li:last-child {
    padding-bottom: 1rem;
}

.menu-sidebar .p-slidemenu .p-menuitem-link:not(.p-disabled):hover {
  background-color: #fff !important;
}

.menu-sidebar .p-slidemenu .p-menuitem-link .p-submenu-icon {
    margin-left: auto;
    vertical-align: middle;
    display: table-cell;
    color: rgba(0, 0, 0, .3);
    width: 10px;
    background-color: transparent;
}

.menu-sidebar .p-slidemenu .p-slidemenu-rootlist.p-active-submenu {
    top: 0 !important;
}

.menu-sidebar .p-slidemenu-backward {
    bottom: initial;
    cursor: pointer;
    position: absolute;
    width: 170px !important;
    top: -129px;
    left: 0;
    height: 50px;
    z-index: 2;
    padding: 1.15rem 1rem !important;
    background-color: #fff;
}

.menu-sidebar .p-slidemenu-backward .p-slidemenu-backward-icon {
    font-size: .8rem;
    color: #fff;
    width: 1.85rem;
    height: 1.85rem;
    border-radius: 50%;
    background-color: rgba(50, 125, 255, 1);
    line-height: 1.7rem;
}

.menu-sidebar .p-slidemenu-backward:hover .p-slidemenu-backward-icon {
    color: #fff;
    background-color: rgba(50, 125, 255, 1);
}

.menu-sidebar .p-slidemenu-backward:after {
    content: "\Voltar";
    font-weight: 600;
    margin-left: 0.5rem;
    position: relative;
    top: 1px;
}

.pi-caret-left:before {
    content: "\e931";
    vertical-align: middle;
    display: inline-block;
}

.p-menu.p-menu-overlay {
    top: initial !important;
   /* display: block !important;*/
    left: initial !important;
}

.p-component-overlay {
    background: rgba(0, 0, 0, .2) !important;
    -webkit-animation: smooth .01s ease-in;
    -moz-animation: smooth .01s ease-in;
    -o-animation: smooth .01s ease-in;
    -ms-animation: smooth .01s ease-in;
    animation: smooth .01s ease-in;
    display: none;
}

/* --------------------------------

  FORM

-------------------------------- */

.p-inputtext {
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}

.p-multiselect,
.p-dropdown {
    width: 100%;
}

.p-multiselect .p-multiselect-label {
    padding: .276rem .75rem;
}


/*
.p-component,
.p-component * {
    line-height: 1.5;
}
*/

.p-inputtext:enabled:focus,
.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus,
.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus,
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus,
.p-listbox .p-listbox-list .p-listbox-item:focus,
.p-dropdown:not(.p-disabled).p-focus,
.p-cascadeselect:not(.p-disabled).p-focus,
.p-yearpicker .p-yearpicker-year:not(.p-disabled):focus,
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus,
.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus,
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus,
.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus,
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus,
.p-multiselect-panel .p-multiselect-header .p-multiselect-close:focus,
.p-slidemenu .p-menuitem-link:focus,
.p-datatable .p-sortable-column:focus {
    box-shadow: none;
}

.p-datepicker .p-datepicker-header {
    padding-top: .2rem;
}

.p-chips .p-chips-multiple-container {
    padding: .375rem .5rem;
}

.p-chips .p-chips-multiple-container .p-chips-input-token {
    padding: 0;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0 .3rem 0 .4rem;
    font-size: .8rem;
}

.p-chips .p-chips-multiple-container .p-chips-token .p-chips-token-label {
    padding-bottom: .2rem;
}

.p-button {
    padding: .276rem .75rem;
}

.p-button:focus {
    box-shadow: none !important;
}

.p-button.p-button-icon-only {
    padding: .375rem .75rem !important;
}

button.p-datepicker-trigger,
button.p-inputnumber-button {
    background-color: rgb(206, 212, 218) !important;
    border-color: rgb(206, 212, 218) !important;
    color: rgb(33, 37, 41) !important;
}

button.p-datepicker-trigger:hover,
button.p-inputnumber-button:hover {
    background-color: rgb(186, 192, 198) !important;
    border-color: rgb(186, 192, 198) !important;
    color: rgb(33, 37, 41) !important;
}

.p-multiselect-filter-icon,
.p-listbox-filter-icon {
    line-height: 1;
}

.form-check .form-check-input {
    border: none;
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: initial;
}

.p-radiobutton .p-radiobutton-box,
.p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
}

.p-calendar {
    width: 100%;
}


/* --------------------------------

  TABLE

-------------------------------- */

.p-datatable .p-datatable-header {
    font-weight: normal;
}

.p-datatable .p-paginator-bottom {
    border: none;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr>td {
    padding-left: 1rem;
    padding-right: 1rem;
}

#table-search .p-datatable .p-datatable-header {
    border-top: none;
    background-color: transparent;
}

#table-expanded .p-datatable table,
#table-tree .p-treetable table,
#table-responsive .p-datatable table {
    margin-bottom: 0;
}

#table-expanded .p-datatable .p-datatable-thead>tr>th,
#table-tree .p-treetable .p-treetable-thead>tr>th,
#table-responsive .p-datatable .p-datatable-thead>tr>th {
    background: transparent;
}

#table-expanded .p-datatable .p-datatable-tbody>tr:last-child>td,
#table-tree .p-treetable .p-treetable-tbody>tr:last-child>td,
#table-responsive .p-datatable .p-datatable-tbody>tr:last-child>td {
    border-bottom: none;
    border-radius: var(--bs-card-border-radius);
}

.table-stack .p-datatable .p-datatable-tbody>tr>td>.p-column-title {
    display: none;
}

.table-scroll .p-datatable-wrapper {
    overflow-x: auto;
}

.table-scroll .p-datatable-wrapper>table {
    table-layout: auto;
    min-width: 100%;
}


/* --------------------------------

  WIZARD

-------------------------------- */

#wizard-steps .p-disabled,
#wizard-steps .p-component:disabled {
    opacity: 1;
}

#wizard-steps .p-card {
    background: none;
    color: initial;
    box-shadow: none;
}

#wizard-steps .p-steps .p-component:disabled:before {
    border-color: #EBEDF3;
}

#wizard-steps .p-steps .p-steps-item:before {
    border-top: 4px solid #327dff;
    left: -50%;
    width: 100%;
}

#wizard-steps .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    border: none;
    background: #327dff;
    min-width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-indent: -99999px;
}

#wizard-steps .p-steps .p-steps-item .p-menuitem-link .p-steps-number::before {
    font-family: 'Font Awesome 6 Pro';
    content: "\f00c";
    text-indent: 0;
}

#wizard-steps .p-steps .p-steps-item .p-menuitem-link {
    background: transparent;
}

#wizard-steps .p-steps li:first-child:before {
    border: none;
}

#wizard-steps .p-steps .p-steps-current~.p-steps-item .p-menuitem-link .p-steps-number {
    background: #EBEDF3;
    color: #7E8299;
}

#wizard-steps .p-steps .p-steps-current~.p-steps-item:before {
    border-color: #EBEDF3;
}

#wizard-steps .p-steps .p-steps-current~.p-steps-item .p-menuitem-link .p-steps-number,
#wizard-steps .p-steps .p-steps-current .p-menuitem-link .p-steps-number {
    text-indent: 0;
}

#wizard-steps .p-steps .p-steps-current~.p-steps-item .p-menuitem-link .p-steps-number::before,
#wizard-steps .p-steps .p-steps-current .p-menuitem-link .p-steps-number::before {
    display: none;
}

#wizard-steps .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
    color: #7E8299;
}


/* --------------------------------

  ICONS

-------------------------------- */

.pi-eye,
.pi-eye-slash,
.pi-chevron-left,
.pi-chevron-right,
.pi-chevron-down,
.pi-sort-alt,
.pi-search,
.pi-times,
.pi-check,
.pi-angle-right,
.pi-caret-left,
.pi-star,
.pi-star-o,
.pi-sort-amount-up-alt,
.pi-sort-amount-down,
.pi-filter {
    font-family: 'Font Awesome 6 Pro';
    font-weight: 300;
}

.pi-eye:before {
    content: "\f06e";
}

.pi-eye-slash:before {
    content: "\f070";
}

.pi-chevron-left:before {
    content: "\f053";
}

.pi-chevron-right:before {
    content: "\f054";
}

.pi-chevron-down:before,
.p-treetable .pi-chevron-right:before {
    content: "\f078";
}

.p-treetable .pi-chevron-down:before {
    content: "\f077";
}

.pi-sort-alt:before {
    content: "\f883";
}

.pi-search:before {
    content: "\f002";
}

.pi-times:before {
    content: "\f00d";
}

.pi-check:before {
    content: "\f00c";
}

.pi-angle-right:before {
    content: "\f105";
}

.pi-caret-left:before {
    content: "\f053";
}

.pi-star:before {
    content: "\e28b";
    font-weight: 600;
}

.pi-star-o:before {
    content: "\e28b";
}

.pi-sort-amount-up-alt:before {
    content: "\f885";
}

.pi-sort-amount-down:before {
    content: "\f160";
}

.pi-filter:before {
    content: "\f0b0";
}

.p-input-icon-left>i:first-of-type {
    left: 0.8rem;
    margin-top: -0.75rem;
}

.p-input-icon-right>i:last-of-type {
    right: 0.8rem;
    margin-top: -0.75rem;
}

.p-input-icon-left>.p-inputtext {
    padding-left: 2.3rem;
}

.p-input-icon-right>.p-inputtext {
    padding-right: 2.3rem;
}

.p-sidebar .p-sidebar-header .p-sidebar-close:focus,
.p-sidebar .p-sidebar-header .p-sidebar-icon:focus,
.p-column-filter-menu-button:focus {
    box-shadow: none !important;
}


/* --------------------------------

  CHART

-------------------------------- */

table .chartjs-render-monitor {
    height: 50px !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------

  BADGE / TOOLTIP

-------------------------------- */


/*
.product-badge {
    border-radius: var(--bs-card-border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.status-instock {
    background: #C8E6C9;
    color: #256029;
}

.status-lowstock {
    background: #FFCDD2;
    color: #c63737;
}

.status-outofstock {
    background: #FEEDAF;
    color: #8a5340;
}

.customer-badge.status-unqualified {
    background-color: #ffcdd2;
    color: #c63737;
}

.customer-badge.status-proposal {
    background-color: #ffd8b2;
    color: #805b36;
}

.customer-badge.status-qualified {
    background-color: #c8e6c9;
    color: #256029;
}

.customer-badge.status-new {
    background-color: #b3e5fc;
    color: #23547b;
}

.customer-badge.status-renewal {
    background-color: #eccfff;
    color: #694382;
}

.customer-badge.status-negotiation {
    background-color: #feedaf;
    color: #8a5340;
}

.customer-badge {
    border-radius: var(--bs-card-border-radius);
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.order-badge.order-pending {
    background: #FEEDAF;
    color: #8a5340;
}

.order-badge.order-delivered {
    background: #C8E6C9;
    color: #256029;
}

.order-badge.order-returned {
    background: #ECCFFF;
    color: #694382;
}

.order-badge.order-cancelled {
    background: #FFCDD2;
    color: #c63737;
}

.order-badge {
    border-radius: var(--bs-card-border-radius);
    ;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
*/

.p-tooltip>.p-tooltip-text {
    font-size: .875rem;
    padding: .12rem .6rem;
}

