<section id="main" class="container" role="main">
    <div id="wizard-steps" class="card bg-white">
        <div class="row g-3 my-5 py-2 justify-content-center">
            <div class="col-lg-12">
                <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
            </div>
        </div>
        <div *ngIf="activeIndex == 0">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <h4 class="m-0">Consultar</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="subtitle">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <p class="text-muted">Insira os dados a seguir para fazer uma consulta</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="row g-3 justify-content-center">
                                <div class="col-lg-6">
                                    <label class="form-label">Declaração <span class="text-muted">*</span></label>
                                    <input type="text" class="form-control" name="declaracao"
                                        mask="000.00.0000.000000-0" autocomplete="off" aria-describedby="aviso-cpf">
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label">Tipo pessoa <span class="text-muted">*</span></label>
                                    <p-dropdown [options]="personTypes" [(ngModel)]="selectedPersonType"
                                        placeholder="Selecione" optionLabel="name" [showClear]="true">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="d-flex justify-content-between border-top mt-5 mb-3 py-5">
                                <div class="me-2"></div>
                                <div>
                                    <p-button styleClass="btn btn-primary" label="Continuar" (onClick)="nextPage()"
                                        icon="fa-light fa-angle-right" iconPos="right">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div *ngIf="activeIndex == 1 && personTypeKey == 1">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <h4 class="m-0">Dados pessoais</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="subtitle">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <p class="text-muted">Verifique os dados a seguir</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="form-group row">
                                <label class="col-lg-3 form-label text-muted">Declaração</label>
                                <p class="col">000.00.0000.000000-0</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 form-label text-muted">Nome</label>
                                <p class="col">Sergio de Moraes Barbosa Junior</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 form-label text-muted">CPF</label>
                                <p class="col">000.000.000-00</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 form-label text-muted">RG</label>
                                <p class="col">00.000.000-0</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 form-label text-muted">Endereço</label>
                                <p class="col">Av. Presidente Vargas, 670 - 14 andar</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="d-flex justify-content-between border-top mt-5 mb-3 py-5">
                                <div class="me-2">
                                    <p-button styleClass="btn btn-outline-primary me-2" label="Voltar"
                                        (onClick)="prevPage()" icon="fa-light fa-angle-left"></p-button>
                                </div>
                                <div>
                                    <p-button styleClass="btn btn-primary" label="Continuar" (onClick)="nextPage()"
                                        icon="fa-light fa-angle-right" iconPos="right">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div *ngIf="activeIndex == 1 && personTypeKey == 2">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <h4 class="m-0">Dados da empresa</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="subtitle">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <p class="text-muted">Verfique os dados a seguir</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="form-group row">
                                <label class="col-2 form-label text-muted">Declaração</label>
                                <p class="col-10">000.00.0000.000000-0</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 form-label text-muted">Razão social</label>
                                <p class="col-10"></p>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 form-label text-muted">CNPJ</label>
                                <p class="col-10">00.000.000/0000-00</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-2 form-label text-muted">Endereço</label>
                                <p class="col-10">Av. Presidente Vargas, 670 - 14 andar</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="d-flex justify-content-between border-top mt-5 mb-3 py-5">
                                <div class="me-2">
                                    <p-button styleClass="btn btn-outline-primary me-2" label="Voltar"
                                        (onClick)="prevPage()" icon="fa-light fa-angle-left"></p-button>
                                </div>
                                <div>
                                    <p-button styleClass="btn btn-primary" label="Continuar" (onClick)="nextPage()"
                                        icon="fa-light fa-angle-right" iconPos="right">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div *ngIf="activeIndex == 2 && personTypeKey == 1">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <h4 class="m-0">Finalizar cadastro pessoa física</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="subtitle">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <p class="text-muted">Insira seus dados de contato</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="row g-3 justify-content-center">
                                <div class="col-lg-6">
                                    <label class="form-label">E-mail <span class="text-muted">*</span></label>
                                    <input type="email" class="form-control" name="email" autocomplete="off"
                                        aria-describedby="aviso-email">
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label">Telefone <span class="text-muted">*</span></label>
                                    <input type="text" class="form-control" name="telefone" mask="(00) 00000-0000"
                                        autocomplete="off" aria-describedby="aviso-telefone">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="d-flex justify-content-between border-top mt-5 mb-3 py-5">
                                <div class="me-2">
                                    <p-button styleClass="btn btn-outline-primary me-2" label="Voltar"
                                        (onClick)="prevPage()" icon="fa-light fa-angle-left"></p-button>
                                </div>
                                <div>
                                    <p-button styleClass="btn btn-primary" label="Confirmar" (onClick)="complete()"
                                        icon="fa-light fa-angle-right" iconPos="right">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div *ngIf="activeIndex == 2 && personTypeKey == 2">
            <p-card>
                <ng-template pTemplate="title">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <h4 class="m-0">Finalizar cadastro empresarial</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="subtitle">
                    <div class="row g-3 justify-content-center">
                        <div class="col-lg-6">
                            <p class="text-muted">Insira os dados de contato da empresa</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <div class="row">
                        <div class="col-lg-6 mx-auto">
                            <div class="row g-3 justify-content-center">
                                <div class="col-lg-6">
                                    <label class="form-label">E-mail principal <span class="text-muted">*</span></label>
                                    <input type="email" class="form-control" name="email" autocomplete="off"
                                        aria-describedby="aviso-email">
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label">E-mail secundário<span class="text-muted">*</span></label>
                                    <input type="email" class="form-control" name="email" autocomplete="off"
                                        aria-describedby="aviso-email">
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label">Telefone comercial<span
                                            class="text-muted">*</span></label>
                                    <input type="text" class="form-control" name="telefone" mask="(00) 0000-0000"
                                        autocomplete="off" aria-describedby="aviso-telefone">
                                </div>
                                <div class="col-lg-6">
                                    <label class="form-label">Telefone celular<span class="text-muted">*</span></label>
                                    <input type="text" class="form-control" name="telefone" mask="(00) 00000-0000"
                                        autocomplete="off" aria-describedby="aviso-telefone">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="d-flex justify-content-between border-top mt-5 mb-3 py-5">
                                <div class="me-2">
                                    <p-button styleClass="btn btn-outline-primary me-2" label="Voltar"
                                        (onClick)="prevPage()" icon="fa-light fa-angle-left"></p-button>
                                </div>
                                <div>
                                    <p-button styleClass="btn btn-primary" label="Confirmar" (onClick)="complete()"
                                        icon="fa-light fa-angle-right" iconPos="right">
                                    </p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</section>