<section id="main" class="container" role="main">
    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="dropdown-single">Single</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/dropdown" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">

                <div class="col-lg-12">
                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="Selecione"
                        optionLabel="name" [showClear]="true"></p-dropdown>

                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="dropdown-editable">Editable</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/dropdown" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">

                <div class="col-lg-12">
                    <!-- <p-dropdown [options]="dropdownValues" [(ngModel)]="selectedDropdown" optionLabel="name" placeholder="Selecione" dropdownIcon="fa-light fa-angle-down"></p-dropdown> -->

                    <p-dropdown [options]="cities" [(ngModel)]="selectedCity2" editable="true" optionLabel="name">
                    </p-dropdown>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="dropdown-advanced">Advanced with Templating, Filtering and Clear Icon</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/dropdown" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">

                <div class="col-lg-12">
                    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true"
                        filterBy="name" [showClear]="true" placeholder="Selecione">
                        <ng-template pTemplate="selectedItem">
                            <div class="country-item country-item-value" *ngIf="selectedCountry">
                                <div>{{selectedCountry.name}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="country-item">
                                <div>{{country.name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="dropdown-group">Group</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/dropdown" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">

                <div class="col-lg-12">
                    <p-dropdown [options]="groupedCities" [(ngModel)]="selectedCity3" placeholder="Selecione"
                        [group]="true">
                        <ng-template let-group pTemplate="group">
                            <div class="p-d-flex p-ai-center">
                                <span>{{group.label}}</span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="dropdown-virtual-scroll">Virtual Scroll (10000 Items)</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/dropdown" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">

                <div class="col-lg-12">
                    <p-dropdown [options]="items" [(ngModel)]="item" placeholder="Selecione" [virtualScroll]="true"
                        [itemSize]="31" [filter]="false"></p-dropdown>
                </div>

            </div>
        </div>
    </div>
</section>