<section id="main" class="container" role="main">
    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-basic">Basic</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton type="button" label="Enviar" class="btn btn-primary me-2"></button>
                    <button pButton type="button" label="Desabilitado" disabled="true"
                        class="btn btn-primary me-2"></button>
                    <button pButton type="button" label="Enviar" class="btn btn-link"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-icons">Icons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton type="button" icon="fa-light fa-pen" class="btn btn-primary me-2"></button>
                    <button pButton type="button" iconPos="left" label="Editar" icon="fa-light fa-pen"
                        class="btn btn-primary me-2"></button>
                    <button pButton type="button" iconPos="right" label="Editar" icon="fa-light fa-pen"
                        class="btn btn-primary me-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-severeties">Severeties</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton pRipple type="button" label="Primary" class="me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Secondary"
                        class="p-button-secondary me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Success" class="p-button-success me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Info" class="p-button-info me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Warning" class="p-button-warning me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Help" class="p-button-help me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Danger" class="p-button-danger me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-raised">Raised Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton type="button" label="Primary" class="btn btn-primary me-2 mb-2"></button>
                    <button pButton type="button" label="Secondary" class="btn btn-secondary me-2 mb-2"></button>
                    <button pButton type="button" label="Success" class="btn btn-success me-2 mb-2"></button>
                    <button pButton type="button" label="Info" class="btn btn-info me-2 mb-2"></button>
                    <button pButton type="button" label="Warning" class="btn btn-warning me-2 mb-2"></button>
                    <button pButton type="button" label="Help" class="btn btn-help me-2 mb-2"></button>
                    <button pButton type="button" label="Danger" class="btn btn-danger me-2 mb-2"></button>
                    <button pButton type="button" label="Dark" class="btn btn-dark me-2 mb-2"></button>
                    <button pButton type="button" label="Light" class="btn btn-light me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-rounded">Rounded Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton pRipple type="button" label="Primary" class="p-button-rounded me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Secondary"
                        class="p-button-rounded p-button-secondary me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Success"
                        class="p-button-rounded p-button-success me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Info"
                        class="p-button-rounded p-button-info me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Warning"
                        class="p-button-rounded p-button-warning me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Help"
                        class="p-button-rounded p-button-help me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Danger"
                        class="p-button-rounded p-button-danger me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-text">Text Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton pRipple type="button" label="Primary" class="p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Secondary"
                        class="p-button-secondary p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Success"
                        class="p-button-success p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Info"
                        class="p-button-info p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Warning"
                        class="p-button-warning p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Help"
                        class="p-button-help p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Danger"
                        class="p-button-danger p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" label="Plain"
                        class="p-button-text p-button-plain me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-raised-text">Raised Text Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton pRipple type="button" label="Primary"
                        class="p-button-raised p-button-text"></button>
                    <button pButton pRipple type="button" label="Secondary"
                        class="p-button-raised p-button-secondary p-button-text"></button>
                    <button pButton pRipple type="button" label="Success"
                        class="p-button-raised p-button-success p-button-text"></button>
                    <button pButton pRipple type="button" label="Info"
                        class="p-button-raised p-button-info p-button-text"></button>
                    <button pButton pRipple type="button" label="Warning"
                        class="p-button-raised p-button-warning p-button-text"></button>
                    <button pButton pRipple type="button" label="Help"
                        class="p-button-raised p-button-help p-button-text"></button>
                    <button pButton pRipple type="button" label="Danger"
                        class="p-button-raised p-button-danger p-button-text"></button>
                    <button pButton pRipple type="button" label="Plain"
                        class="p-button-raised p-button-text p-button-plain"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-outline">Outlined Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton type="button" label="Primary" class="btn btn-outline-primary me-2 mb-2"></button>
                    <button pButton type="button" label="Secondary"
                        class="btn btn-outline-secondary me-2 mb-2"></button>
                    <button pButton type="button" label="Success" class="btn btn-outline-success me-2 mb-2"></button>
                    <button pButton type="button" label="Info" class="btn btn-outline-info me-2 mb-2"></button>
                    <button pButton type="button" label="Warning" class="btn btn-outline-warning me-2 mb-2"></button>
                    <button pButton type="button" label="Help" class="btn btn-outline-help me-2 mb-2"></button>
                    <button pButton type="button" label="Danger" class="btn btn-outline-danger me-2 mb-2"></button>
                    <button pButton type="button" label="Dark" class="btn btn-outline-dark me-2 mb-2"></button>
                    <button pButton type="button" label="Light" class="btn btn-outline-light me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-rounded-icon">Rounded Icon Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-bookmark"
                        class="p-button-rounded p-button-secondary me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-search"
                        class="p-button-rounded p-button-success me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-info me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-bell"
                        class="p-button-rounded p-button-warning me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-heart"
                        class="p-button-rounded p-button-help me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-rounded-text-icon">Rounded Text Icon Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-bookmark"
                        class="p-button-rounded p-button-secondary p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-search"
                        class="p-button-rounded p-button-success p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-info p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-bell"
                        class="p-button-rounded p-button-warning p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-heart"
                        class="p-button-rounded p-button-help p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-text me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-filter"
                        class="p-button-rounded p-button-text p-button-plain me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-rounded-outline">Rounded and Outlined Icon Buttons</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <button pButton pRipple type="button" icon="pi pi-check"
                        class="p-button-rounded p-button-outlined me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-bookmark"
                        class="p-button-rounded p-button-secondary p-button-outlined me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-search"
                        class="p-button-rounded p-button-success p-button-outlined me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-user"
                        class="p-button-rounded p-button-info p-button-outlined me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-bell"
                        class="p-button-rounded p-button-warning p-button-outlined me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-heart"
                        class="p-button-rounded p-button-help p-button-outlined me-2 mb-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-times"
                        class="p-button-rounded p-button-danger p-button-outlined me-2 mb-2"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-badges">Badges</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <p-button label="Emails" badge="8" class="me-2 mb-2"></p-button>
                    <p-button label="Messages" icon="pi pi-users" styleClass="p-button-warning" badge="8"
                        badgeClass="p-badge-danger" class="me-2 mb-2"></p-button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-loading">Loading</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <p-button label="Buscar" icon="fa-light fa-magnifying-glass" iconPos="left" [loading]="loading[1]"
                        (onClick)="load(1)" styleClass="btn btn-primary me-2"></p-button>
                    <p-button icon="fa-light fa-magnifying-glass" [loading]="loading[2]" (onClick)="load(2)"
                        styleClass="btn btn-primary me-2"></p-button>
                    <p-button label="Buscar" [loading]="loading[3]" (onClick)="load(3)"
                        styleClass="btn btn-primary me-2">
                    </p-button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-set">Button set</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <span class="p-buttonset">
                        <button pButton label="Save" icon="fa-light fa-check"></button>
                        <button pButton label="Delete" icon="fa-light fa-trash-can"></button>
                        <button pButton label="Cancel" icon="fa-light fa-xmark"></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="d-flex align-items-center bg-light p-2 ps-3">
            <h5 id="button-size">Sizes</h5>
            <div class="d-flex ms-auto">
                <a href="https://www.primefaces.org/primeng/button" target="_blank" class="fs-5 px-2"
                    pTooltip="Documentação" tooltipPosition="top">
                    <i class="fa-light fa-clipboard"></i>
                </a>
                <a href="https://forum.primefaces.org/viewforum.php?f=35" target="_blank" class="fs-5 px-2"
                    pTooltip="Fórum" tooltipPosition="top">
                    <i class="fa-light fa-comments"></i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row gx-3">
                <div class="col-lg-12">
                    <p-button label="Pequeno" styleClass="btn btn-primary btn-sm me-2"></p-button>
                    <p-button label="Padrão" styleClass="btn btn-primary me-2"></p-button>
                    <p-button label="Grande" styleClass="btn btn-primary btn-lg"></p-button>
                </div>
            </div>
        </div>
    </div>

</section>