<section id="main" class="container" role="main">
    <div class="card card-body">
        <div class="row g-3">
            <div class="col-lg-3">
                <label class="form-label">Nome</label>
                <p-multiSelect [options]="allProductsName" [(ngModel)]="selectedProductName" defaultLabel="Selecione"
                    optionLabel="label" selectedItemsLabel="{0} items selecionados" [maxSelectedLabels]="1">
                </p-multiSelect>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Categoria</label>
                <p-multiSelect [options]="categories" [(ngModel)]="category" defaultLabel="Selecione"
                    optionLabel="label" selectedItemsLabel="{0} items selecionados" [maxSelectedLabels]="1">
                </p-multiSelect>
            </div>
            <div class="col-lg-3">
                <label class="form-label">Status</label>
                <p-multiSelect [options]="statuses" [(ngModel)]="status" defaultLabel="Selecione" optionLabel="label"
                    selectedItemsLabel="{0} items selecionados" [maxSelectedLabels]="1">
                </p-multiSelect>
            </div>
            <div class="col-xl-3 align-self-end">
                <p-button label="Buscar" (click)="searchProduct()" *ngIf="!isAdvancedSearch"></p-button>
                <button pButton type="button" label="Pesquisa avançada" class="btn btn-link"
                    icon="fa-light fa-chevron-down" iconPos="right" (click)="advancedSearch()"
                    *ngIf="!isAdvancedSearch"></button>
                <button pButton type="button" label="Fechar pesquisa avançada" class="btn btn-link"
                    icon="fa-light fa-chevron-up" iconPos="right" (click)="advancedSearch()"
                    *ngIf="isAdvancedSearch"></button>
            </div>
        </div>
        <ng *ngIf="isAdvancedSearch">
            <div class="row g-3 border-top mt-3 pt-3">
                <div class="col-lg-2">
                    <label class="form-label">Código</label>
                    <input class="form-control" type="text" pInputText />
                </div>
                <div class="col-lg-2">
                    <label class="form-label">Data incial</label>
                    <p-calendar [(ngModel)]="date1" dateFormat="dd/mm/yy" [showIcon]="true" icon="fa-light fa-calendar">
                    </p-calendar>
                </div>
                <div class="col-lg-2">
                    <label class="form-label">Data final</label>
                    <p-calendar [(ngModel)]="date2" dateFormat="dd/mm/yy" [showIcon]="true" icon="fa-light fa-calendar">
                    </p-calendar>
                </div>
                <div class="col-lg-3">
                    <label class="form-label">Estoque</label>
                    <p-dropdown [options]="stocks" [(ngModel)]="selectedStocks" optionLabel="label"
                        placeholder="Selecione">
                    </p-dropdown>
                </div>
                <div class="col-lg-3">
                    <label class="form-label">País fabricante</label>
                    <p-multiSelect [options]="countries" [(ngModel)]="selectedCountries" defaultLabel="Selecione"
                        optionLabel="name" selectedItemsLabel="{0} items selecionados" [maxSelectedLabels]="1">
                    </p-multiSelect>
                </div>
                <div class="col-lg-4">
                    <label class="form-label d-block">Vendas</label>
                    <div *ngFor="let option of options" class="form-check d-inline ps-0 me-3">
                        <p-radioButton class="" name="groupname" value="option" [value]="option"
                            [(ngModel)]="selectedRadioOption" [inputId]="option.key"></p-radioButton>
                        <label class="form-check-label ps-0 ms-2 lh-110 align-middle"
                            [for]="option.key">{{option.name}}</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label class="form-label d-block">Representante</label>
                    <div *ngFor="let company of companies" class="d-inline me-3">
                        <p-checkbox class="" name="group2" value="company" [value]="company"
                            [(ngModel)]="selectedCompanies" [inputId]="company.key"></p-checkbox>
                        <label class="form-check-label ms-2 lh-110 align-middle"
                            [for]="company.key">{{company.name}}</label>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="d-grid gap-2 col-lg-2">
                    <p-button styleClass="btn btn-primary" label="Buscar" (click)="searchProduct()"></p-button>
                </div>
            </div>
        </ng>
    </div>
    <p-table class="table-scroll card bg-white pb-3 p-0" id="table-search" #dt [value]="products" [rows]="10"
        [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status', 'quantity']"
        responsiveLayout="scroll" [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="{first} a {last} de {totalRecords}" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption" class="bg-primary">
            <div class="flex align-items-center justify-content-between">
                <div class="flex">
                    <button type="button" class="btn btn-primary" pButton icon="fa-light fa-chevron-down"
                        iconPos="right" label="Ações" (click)="menu.toggle($event)"></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" label="Baixar tabela completa" pButton (click)="exportExcel()"
                        class="btn btn-info mx-2" pTooltip=".XLS" tooltipPosition="bottom"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Nome
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>Imagem</th>
                <th pSortableColumn="price">Preço
                    <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="category">Categoria
                    <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="rating">Avaliações
                    <p-sortIcon field="rating"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity">Percentual de estoque
                    <p-sortIcon field="quantity"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td>
                    <a class="d-block fw-semibold"
                        [routerLink]="['/ds/component/product', product.id]">{{product.name}}</a>
                    <span
                        [class]="'badge text-bg-' + product.tagType + ' bg-opacity-10 text-' + product.tagType + ' border border-' + product.tagType + ' border-opacity-25 '">{{product.inventoryStatus}}</span>
                </td>
                <td>
                    <img class="rounded border" [src]="'assets/showcase/images/demo/product/' + product.image"
                        [alt]="product.name" width="auto" height="50px" />
                </td>
                <td>{{product.price | currency:'BRL'}}</td>
                <td>{{product.category}}</td>
                <td>
                    <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false">
                    </p-rating>
                </td>
                <td>
                    <p-knob [(ngModel)]="product.quantity" [readonly]="true" [size]="50" valueTemplate="{value}%">
                    </p-knob>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Nenhum resultado encontrado.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog styleClass="p-fluid w-50" [(visible)]="display" header="Aviso" [modal]="true" [draggable]="false"
        [resizable]="false">
        <ng-template pTemplate="content">
            <div class="row">
                <p>Selecione um produto para baixar a tabela.</p>
            </div>
        </ng-template>
    </p-dialog>
</section>